<template>
  <div class="resource-list-content" ref="cardlist">
    <b-input-group>
      <b-form-input
          type="text"
          placeholder="Search"
          @input="debounceSearch"
      ></b-form-input>
    </b-input-group>
    <div class="cards-content">
      <sw-loader v-show="loading"></sw-loader>
      <div v-if="!loading">
        <b-row v-if="list">
          <b-col cols="12" md="6" lg="6" v-for="(card, key) in list" :key="key">
            <sw-card
                class="mb-4"
                :card="card"
                :resource="paramsId"
            >
            </sw-card>
          </b-col>
        </b-row>
        <b-pagination align="center" :total-rows="totalCards" v-model="currentPage" :per-page="10"
                      v-if="totalCards > 10">
        </b-pagination>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import {debounce} from 'lodash'
  function propIndex(item, index) {
    return item[Object.keys(item)[index]]
  }
  export default {
    name: "CardList",
    data: () => ({
      currentPage: 1,
      searchString: '',
    }),
    mounted(){
      this.loadList()
    },
    computed: {
      /**
       * Params from route.
       * @returns {*}
       */
      paramsId() {
        return this.$route.params.id
      },
      /**
       * Api link for resource
       * @returns {*}
       */
      resourceLink() {
        return this.$store.getters.getResourceByKey(this.paramsId)
      },
      ...mapState({
        list: state => propIndex(state.lastData, 3),
        loading: state => state.loadingList,
        totalCards: state => propIndex(state.lastData, 0),
        language: state => state.cookie.language,
      }),
    },
    methods: {
      debounceSearch: debounce(function (e) {
        this.searchString =  e
      }, 500),
      query() {
        function encodeQueryData(data) {
          const ret = [];
          for (let d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
          return ret.join('&');
        }

        let query = {
          'page': this.currentPage,
        }
        if (this.searchString != '') {
          query.search = this.searchString
        }

        if (this.language != 'en') {
          query.format = this.language
        }
        return '?' + encodeQueryData(query)
      },
      loadList() {
        if (this.resourceLink)
          this.$store.dispatch("updateCurrentList", this.resourceLink + this.query());
        this.$nextTick(() => {
          this.$refs.cardlist.scrollTop = 0;
        });
      },
    },
    watch: {
      resourceLink() {
        this.searchString = ''
        this.currentPage = 1
        this.loadList()
      },
      currentPage() {
        this.loadList()
      },
      searchString() {
        this.currentPage = 1
        this.loadList()
      },
      language() {
        this.loadList()
      }
    }
  };
</script>

<style lang="scss">
.resource-list-content {
  padding: 15px;

  .card-prop {
    text-align: left;
  }

  .input-group {
    width: 100%;
    max-width: 400px;
    padding: 30px 0;

    .form-control {
      background-color: #f5efe0;
    }
  }

  .page-link {
    background-color: #e6d7b3;
    border-color: #908770;
    color: #676050;

    &:hover {
      border-color: #908770;
      color: #292620;
      background-color: #ebdfc2;
    }

  }
  .page-item.active .page-link {
    background-color: #5c5647;
    border-color: #5c5647;
    color: #e6d7b3;
  }

  .page-item.disabled .page-link {
    background-color: #CFC1A1;
    border-color: #908770;
    color: #676050;
  }

  .cards-content {
    .card {
      background-color: transparent;
      border: 1px solid #908770;
    }
  }
}
</style>