<template>
  <b-card
      :title="firstProp"
      class="mb-2"
      :id="cardId"
      @mouseleave="hideTooltip"
  >
    <b-btn class="card-edit-memo" v-b-modal="cardId + '-modal'">Edit memo</b-btn>
    <b-modal :id="cardId + '-modal'" title="Edit memo" :ok-only="true" @ok="showTooltip">
      <b-form-textarea v-model="memo"
                       placeholder="Enter memo"
                       :rows="3"
                       :max-rows="6"
                        @input="updateMemo">
      </b-form-textarea>
    </b-modal>
    <div class="card-prop" v-for="(prop, pkey) in properties" :key="pkey">{{ pkey | capitalize }} : {{
      prop }}
    </div>
    <b-tooltip ref="tooltip" :target="cardId" v-show="memo != ''" >{{ memo }}</b-tooltip>
  </b-card>
</template>

<script>
  import {debounce} from 'lodash'
  import {mapState} from 'vuex'
  export default {
    props: {
      'card': Object,
      'resource': String,
    },
    data: () => ({
      memo: ''
    }),
    computed: {
      /**
       * Return key of first props for title
       * @returns {*}
       */
      firstProp() {
        return this.card[Object.keys(this.card)[0]]
      },
      /**
       * List of properties for card. Replace array with length of array.
       * @returns {{}}
       */
      properties() {
        let card = this.card
        let new_item = {}
        Object.keys(card).map(function (key) {
          new_item[key] = Array.isArray(card[key]) ? card[key].length : card[key]
        })
        return new_item
      },
      /**
       * Return id based on url in properties.
       * @returns {string}
       */
      cardId(){
        let urlArray = (this.card['hurcan'] || this.card['url']).split('/')
        return this.resource + '-' + urlArray[urlArray.length - 2]
      },
      ...mapState({
        /**
         * Get memo from store.
         * @param state
         * @returns {*}
         */
        memoCookie(state){
          return state.cookie.memo[this.cardId]
        }
      }),
    },
    methods: {
      /**
       * Update store cookie with new value.
       */
      updateMemo: debounce(function (e) {
        this.$store.commit('setMemoById', {id: this.cardId, memo: e})
      }, 500),
      showTooltip() {
        this.$refs.tooltip.$emit('open')
      },
      hideTooltip() {
        this.$refs.tooltip.$emit('close')
      }
    },
    mounted() {
      this.memo = this.memoCookie
    }
  }
</script>

<style scoped lang="scss">
  .card-edit-memo {
    float: right;
  }
</style>