<template>
  <div class="loader-wrapper">
    <img src="../assets/giphy.gif" alt="">
  </div>
</template>

<style lang="scss">
  .loader-wrapper{
    background: #e6d7b3;
    min-height: 50vh;
    height: 400px;
    position: relative;

    img {
      width: 100%;
      max-width: 500px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>