<template>
  <div>
    <b-navbar id="nav" toggleable="md" type="dark">

      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand href="/">BB - SWAPI</b-navbar-brand>

      <b-collapse is-nav id="nav_collapse" v-model="showCollapse">

        <b-navbar-nav @click="closeCollapse">
          <router-link :to="'/resource/' + key" v-for="(value, key) in getResources" :key="key">{{ value | capitalize}}
          </router-link>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-form-select v-model="language" @input="updateLanguage" :options="{ en: 'EN', wookiee: 'Wookie'}" class=""></b-form-select>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="router-view-content">
      <router-view/>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  export default {
    name: "Root",
    data: () => ({
      showCollapse: false,
      language: 'en'
    }),
    computed: {
        ...mapGetters(['getResources', 'getLanguage'])
    },
    mounted() {
      this.$store.dispatch('updateCookieObject')
      this.language = this.$store.state.cookie.language
      this.$store.dispatch('updateResources')
    },
    methods: {
      /**
       * Close mobile nav when resource was selected
       */
      closeCollapse() {
        this.showCollapse = false
      },
      updateLanguage(){
        this.$store.dispatch('setUpdateLanguage', this.language)
        this.$store.dispatch('updateResources')
      }
    },
  };
</script>

<style lang="scss">
  html {
    height: 100%;

    body {
      min-height: 100%;
      background: #e6d7b3;
    }
  }

  #nav {
    padding: 10px;
    background-color: #CFC1A1;

    a {
      font-weight: bold;
      padding: 10px;
      color: #676050;

      &.router-link-exact-active {
        color: #292620;
      }
    }
    .custom-select {
      background-color: #f5efe0
    }
  }

  .router-view-content {
    min-height: 50vh;

  }
</style>